<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Inscription terminée!</h4>
    <p>
        Un email de confirmation vous est envoyé à l'adresse mail que vous avez indiquée. Cet email contient un lien permettant de terminer le processus de validation de votre compte.
    </p>
    <hr>
    <p class="mb-0">
        Si vous n'aviez reçu aucun email dans votre courrier indésirable, nous vous invitons à cliquer sur le bouton
        <a href="{{ path('app_verify_email') }}" class="signup-image-link">Renvoyer un email de confirmation</a>
    </p>
</div>
<div>
    <a href="{{ path('app_login') }}" class="signup-image-link">{{ 'Log in'|trans }}</a>
</div>
