{% extends 'layout.html.twig' %}
{% set title = 'Sign up'|trans([], 'security') %}
{% block title %}{{ title }}% endblock %}

{% block main %}
    <section class="signup">
        <div class="container">
            {% include (registrationForm is defined) ? 'registration/_form.html.twig' : 'registration/_register_done.html.twig' %}
        </div>
    </section>
{% endblock %}
