{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <!-- Font Icon -->
     <link rel="stylesheet" href="{{ asset('fonts/material-icon/css/material-design-iconic-font.min.css') }}">
     <!-- Main css -->
     <link rel="stylesheet" href="{{ asset('css/style.css') }}">
 {% endblock %}

{% block body %}
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
     <script src="{{ asset('js/main.js') }}"></script>
 {% endblock %}
